<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunlearning.messanger.mapper.MessageStoreMapper">
  <resultMap id="BaseResultMap" type="com.sunlearning.messanger.pojo.MessageStoreInfo">
    <id column="message_id" jdbcType="VARCHAR" property="messageId"/>
    <result column="chat_code" jdbcType="VARCHAR" property="chatCode"/>
    <result column="chat_name" jdbcType="VARCHAR" property="chatName"/>
    <result column="chat_avatar" jdbcType="VARCHAR" property="chatAvatar"/>
    <result column="sender_code" jdbcType="VARCHAR" property="senderCode"/>
    <result column="sender_name" jdbcType="VARCHAR" property="senderName"/>
    <result column="sender_avatar" jdbcType="VARCHAR" property="senderAvatar"/>
    <result column="receiver_code" jdbcType="VARCHAR" property="receiverCode"/>
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName"/>
    <result column="receiver_avatar" jdbcType="VARCHAR" property="receiverAvatar"/>
    <result column="receiver_type" jdbcType="VARCHAR" property="receiverType"/>
    <result column="content_type" jdbcType="VARCHAR" property="contentType"/>
    <result column="content" jdbcType="VARCHAR" property="content"/>
    <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
    <result column="message_time" jdbcType="BIGINT" property="messageTime"/>
  </resultMap>

  <insert id="insertHistory" parameterType="com.sunlearning.messanger.pojo.MessageStoreInfo">
		INSERT INTO message_store_info VALUES (#{messageId}, #{chatCode}, #{chatName}, #{chatAvatar},
		  #{senderCode}, #{senderName}, #{senderAvatar},
      #{receiverCode}, #{receiverName}, #{receiverAvatar}, #{receiverType},
      #{contentType}, #{content}, #{fileName}, #{messageTime})
	</insert>

  <insert id="insertWaiting" parameterType="com.sunlearning.messanger.pojo.MessageStoreInfo">
		INSERT INTO message_waiting_info VALUES (#{messageId}, #{chatCode}, #{chatName}, #{chatAvatar},
		  #{senderCode}, #{senderName}, #{senderAvatar},
      #{receiverCode}, #{receiverName}, #{receiverAvatar}, #{receiverType},
      #{contentType}, #{content}, #{fileName}, #{messageTime})
	</insert>

  <delete id="deleteWaiting" parameterType="java.lang.String">
		DELETE FROM message_waiting_info WHERE message_id = #{messageId}
	</delete>

  <select id="getWaitingListByUser" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT * FROM message_waiting_info WHERE receiver_code = #{receiverCode} ORDER BY message_time
	</select>

  <select id="get" parameterType="java.lang.String">
		SELECT * FROM message_waiting_info WHERE message_id = #{messageId}
	</select>

</mapper>