<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunlearning.messanger.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.sunlearning.messanger.pojo.UserInfo">
		<id column="user_code" jdbcType="VARCHAR" property="oguCode" />
		<result column="user_name" jdbcType="VARCHAR" property="oguName" />
		<result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
		<result column="path_name" jdbcType="VARCHAR" property="pathName" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="avatar" jdbcType="VARCHAR" property="avatar" />
		<result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
	</resultMap>

	<select id="get" resultMap="BaseResultMap">
		SELECT * FROM user_info WHERE user_code = #{userCode,jdbcType=VARCHAR}
	</select>

	<select id="getList" resultMap="BaseResultMap">
		SELECT * FROM user_info ORDER BY sort_order
	</select>

</mapper>